body {
    background-color: #0a1045;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.border {
    border-width: 5px;
    border-color: #0a1045;
}

.movie-card {
    background-color: black;
    border-radius: 5px;
    border-color: white;
    border-width: 2px;
}

.navbar {
    background-color: #8e61e2;
    color: white;
}

.btn-primary {
    background-color: #ff7f11;
    border-color: #ff7f11;
}

.btn-primary:hover {
    background-color: #726da8;
    border-color: #726da8;
}

.btn-primary:active {
    background-color: #a26ff9;
    border-color: #a26ff9;
}

.card {
    background-color: black;
}

.jumbotron {
    background-color: #5f5a8f;
}